<% 
  let active = 0;
  if (validate(index)) {
    for (let i = 0; i <= Number(index.length - 1); i++) {
      active += validate(index[i].active) ? 1 : 0;
    }
  }
%>
<% for (let i = 0; i <= Number(index.length - 1); i++) { %>
  <div class="card text-white bg-dark float-start" style="max-width: 18rem;">
    <div class="card-header">
      <h5><%- index[i].name; %></h5>
    </div>
    <div class="card-body">
      <!--  -->
      <p><%- index[i].mode; %></p>
      <!--  -->
      <a href="/recipe/edit/34">
        <button type="submit" class="btn btn-outline-light">
          Edit
        </button>
      </a>
      <!--  -->
    </div>
  </div>
<% } %>
<div class="clear"></div>


