            </div>
        <footer>
            <%- '<p id=\"by-line\"></p>'; %>
            <%- '<p id=\"timer\"></p>'; %>
        </footer>
    </div>
    <script type="module" src="/javascripts/script.js"></script>
    <%- typeof script !== 'undefined' ? script : ''; %>
</body>
</html>