<div class="on-the-right" id="bottom-menu">
    <%- '<button type=\"submit\" class=\"' + btnClass.trim() + '\">'; %>
        <%- typeof btnTitle === 'undefined' ? capitalize('send') : capitalize(btnTitle); %>
    </button>
</div>