    <%
        let btns = [
            {
                path : false,
                target : true,
                title : 'delete',
                toggle : true,
            },
            {
                path : true,
                target : false,
                title : 'edit',
                toggle : false,
            },
            {
                path : true,
                target : false,
                title : 'one',
                toggle : false,
            },
        ];
        let getBottomMenu = (array, index) => {
            let html = '';
            html += '<div class=\"on-the-right\" id=\"bottom-menu\">';
                for (let x = 0; x < btns['length']; x++) {
                    let currentPath = '/' + pathPrefix + '/' + btns[x]['title'] + '/' + array[index]['id'];
                    currentPath = getValidation(btns[x]['path']) ? currentPath : '#';
                    html += '<a href=\"' + currentPath.toLowerCase() + '\"';
                    html += getValidation(btns[x]['target']) ? ' data-bs-toggle=\"modal\"' : '';
                    html += getValidation(btns[x]['toggle']) ? ' data-bs-target=\"#modal-' + array[index]['id'] + '\"' : '';
                    html += '>';
                        html += '<button type=\"submit\"';
                        btnClass = btnClass.substr(btnClass.indexOf(btnString), btnString['length']);
                        if (!getValidation(array[index]['active'])) {
                            btnClass += index % 2 === 0 ? btnColorI : btnColorI;
                        } else { btnClass += btnColorIII; }
                        html += ' class=\"' + btnClass.trim() + '\"';
                        html += ' style=\"margin: 0 0 0 1rem;\"';
                        html += '>';
                        html += getFirstUpperCase(btns[x]['title'] === 'one' ? 'view' : btns[x]['title']);
                        html += '</button>';
                    html += '</a>';
                }
            html += '</div>';
            return html;
        };
        let listing = (title, contents) => {
            let html = '';
            if (!getValidation(title) || !getValidation(contents)) { } else {
                html += '<h' + subtitleNumber + '>' + getFirstUpperCase(title) + '</h' + subtitleNumber + '>';
                if (title === 'cost') {
                    html += '<p>' + getCurrency(Number(contents)) + '</p>';
                } else if (title === 'access key' || title === 'e-mail') {
                    html += '<p>';
                        html += '<a href=\"mailto:' + contents.toLowerCase() + '\" target=\"_blank\">';
                            html += contents.toLowerCase();
                        html += '</a>';
                    html += '</p>';
                } else if (title === 'birth date' || title === 'created' || title === 'updated') {
                    html += '<p>' + getDateFormat(contents) + '</p>';
                } else {
                    html += '<p>' + contents + '</p>';
                }
                html += '<div class=\"mb-' + mb + '\"></div>';
            }
            return html;
        };
        let getModal = (array, modalBody, index) => {
            let result = '';
            result += '<div class=\"modal fade\" id=\"modal-' + array[index]['id'] + '\">';
                result += '<div class=\"modal-dialog\">';
                    result += '<div class=\"modal-content\">';
                        result += '<div class=\"modal-header\">';
                            result += '<h' + subtitleNumber + '>';
                                result += 'are you sure do you want to delete this file?'.trim().toUpperCase();
                            result += '</h' + subtitleNumber + '>';
                        result += '</div>';
                        result += '<div class=\"modal-body\">' + modalBody + '</div>';
                        result += '<div class=\"modal-footer\">';
                            let currentPath = '/' + pathPrefix + '/' + 'delete' + '/' + array[index]['id'] + '?_method=DELETE';
                            result += '<form action=\"' + currentPath.trim().toLowerCase() + '\" method=\"POST\">';
                                result += '<button type=\"submit\" class=\"' + btnClass.trim() + '\">';
                                    result += getFirstUpperCase('yes!');
                                result += '</button>';
                            result += '</form>';
                            result += '<button type=\"button\" class=\"' + btnClass.trim() + '\" data-bs-dismiss=\"modal\">';
                                result += getFirstUpperCase('no.');
                            result += '</button>';
                        result += '</div>';
                    result += '</div>';
                result += '</div>';
            result += '</div>';   
            return result;
        };
        let getCurrentStyle = (array, index) => {
            currentClass = '';
            currentClass += ' bg-';
            if (!getValidation(array[index]['active'])) {
                currentClass += index % 2 === 0 ? 'light' : 'dark';
            } else { currentClass += 'danger'; }
            currentClass += index < array['length'] ? ' mb-' + mb : '';
            currentClass += ' p-' + p;
            currentClass += ' rounded';
            currentClass += ' shadow-sm';
            currentClass += ' text-';
            if (!getValidation(array[index]['active'])) {
                currentClass += index % 2 === 0 ? 'dark' : 'light';
            } else { currentClass += 'light'; }
            return currentClass;
        };
    %>
    <% if (typeof index === 'undefined' || typeof item === 'undefined') { } else { %>
        <% for (let i = 0; i < index['length']; i++) { %>
            <%
                let html = '', modalBody = '';
                html += '<div class=\"' + getCurrentStyle(index, i) + '\">';
                    for (let x = 0; x < item['length']; x++) {
                        let title = typeof item[x] === 'string' ? item[x] : item[x][1];                        
                        let contents = title === 'category'
                            ?
                        index[i]['category']['title']
                            :
                        index[i][typeof item[x] === 'string' ? item[x] : item[x][0]];
                        modalBody += listing(title, contents);
                        html += listing(title, contents);
                    }
                html += '</div>';
                html += getBottomMenu(index, i);
                html += getModal(index, modalBody, i);
                html += '<div class=\"clear mb-' + mb + '\"></div>';
            %>
            <%- html; %>
        <% } %>
    <% } %>
</div>
<%- include('./pagination'); %>