<%
    let listing = (title, contents) => {
        let html = '';
        if (!getValidation(title) || !getValidation(contents)) { } else {
            html += '<h' + subtitleNumber + '>';
            html += getFirstUpperCase(title);
            html += '</h' + subtitleNumber + '>';
            if (title === 'cost') {
                html += '<p>' + getCurrency(Number(contents)) + '</p>';
            } else if (title === 'access key') {
                html += '<p>';
                    html += '<a href=\"mailto:' + contents.toLowerCase() + '\" target=\"_blank\">';
                        html += contents.toLowerCase();
                    html += '</a>';
                html += '</p>';
            } else if (title === 'birth date' || title === 'created' || title === 'updated') {
                html += '<p>' + getDateFormat(contents) + '</p>';
            } else {
                html += '<p>' + contents + '</p>';
            }
            html += '<div class=\"mb-' + mb + '\"></div>';
        }
        return html;
    };
    let html = '';
    if (typeof index === 'undefined' || typeof item === 'undefined') { } else {
        for (let i = 0; i < item['length']; i++) {
            let title = typeof item[i] === 'string' ? item[i] : item[i][1];
            let contents = index[typeof item[i] === 'string' ? item[i] : item[i][0]];
            html += typeof contents !== 'undefined' ? listing(title, contents) : '';
        };
    };
    html += '<div class=\"right-all\">';
        html += '<a href=\"' + pathPrefix + 'edit/' + index['id'] + '\">';
            html += '<button type=\"submit\" class=\"' + btnClass.trim() + '\">';
                html += getFirstUpperCase('edit');
            html += '</button>';
        html += '</a>';
        html += '<button type=\"submit\" class=\"' + btnClass.trim() + '\"';
        html += ' onclick=\"location.href=document.referrer\">';
            html += getFirstUpperCase('come back');
        html += '</button>';
    html += '</div>';
%>
<%- html; %>